.btn{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition-duration: .6s;
}

.btn-primary{
    background-color: #FC997C;
    color: #fff;
    border: 2px solid #FC997C;
}   

.btn-primary:hover{
    background-color: #fff;
    color: #FC997C;
    border: 2px solid #FC997C;
}

.btn-outline-primary{
    background-color: #fff;
    color: #FC997C;
    border: 2px solid #FC997C;
}

.btn-outline-primary:hover{
    background-color: #FC997C;
    color: #fff;
    border: 2px solid #FC997C;
}

.btn-secondary{
    background-color: #AC7088;
    color: #fff;
    border: 2px solid #AC7088;
}

.btn-secondary:hover{
    background-color: #fff;
    color: #AC7088;
    border: 2px solid #AC7088;
}

.btn-outline-secondary{
    background-color: #fff;
    color: #AC7088;
    border: 2px solid #AC7088;
}

.btn-outline-secondary:hover{
    background-color: #AC7088;
    color: #fff;
    border: 2px solid #AC7088;
}